<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />'
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        <script src="{{ asset('jquery/jquery-1.12.1.min.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
