#form label {
    width: 100%;
    height: 30px;
}
#form input {
    margin-bottom: 10px;
    width: 400px;
}
#form button {
    margin-bottom: 30px;
}
#welcome, #search, #results h4 {
    text-align: center;
}
table thead {
    font-weight: bold;
}